<%= form_for([current_user, @profile]) do |f| %>
  <% if current_user.profile.errors.any? %>
    <div id="error_explanation" class="alert  alert-info">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit, class: "btn btn-default" %>
  </div>
<% end %>
