<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>About</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user.email %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.about %></td>
        <% unless profile.institutions[0].nil?%>
          <td><%= profile.institutions[0].name %></td>
        <% end -%>
        <td><%= link_to 'show', profile %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>