<aside class="comments" id="comments">
  <hr>

  <h2><i class="fa fa-comments"></i> <%= @article.comments ? @article.comments.count : "0" %></h2>
  <% @article.comments.each do |comment| %>
      <article class="comment">
          <header class="clearfix">
              <%= comment.user.avatar.exists? ? image_tag(comment.user.avatar, class: "avatar") : image_tag(comment.user.gravatar, class: "avatar") %>
              <%# <img src="./Tales - My Insightful Article_files/avatar.png" alt="A Smart Guy" class="avatar"> %>
              <div class="meta">
                  <h3><%= link_to comment.user.profile.full_name, root_path %> </h3>
                  <span class="date">
                          <%= comment.created_at.to_date %>
                  </span>
                  <span class="separator">
                      -
                  </span>
                  
                  <a href="#" class="reply-link">Reply</a>                
              </div>
          </header>
          <div class="body">
              <%= comment.body %>
          </div>
      </article>
  <% end %>
</aside>