<%= form_for(@article) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="be-red white top-space">
			* <%= message %>
		</div>
	<%end%>
	<div class="form-group">
		<%= f.text_field :title, placeholder: "Titulo", class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.text_field :subtitle, placeholder: "Subtitulo", class:"form-control" %>
	</div>
	<div class="form-group">
		Portada: <%= f.file_field :cover %>
	</div>
	<div class="form-group">
		<%= f.text_area :body, class:"form-control", style:"height:250px;" %>
	</div>
	<div class="form-group">
		<label for="">Categorias</label> 
		<% @categories.each do |category| %>
			<div class="form-group">
				<%= check_box_tag "categories[]", category.id %> <%= category.name %>
			</div>
		<% end -%>
	</div>
	<div class="form-group">
		<%= f.submit "Guardar" %>
	</div>
<% end %>
<script> $(function() { $('textarea').froalaEditor() }); </script>