<%= form_for(@article, multipart: true) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="alert alert-info">
			* <%= message %>
		</div>
	<%end%>
	<div class="form-group">
		<%= f.label :Titulo %>
		<%= f.text_field :title, placeholder: "Titulo para el articulo", class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Subtitulo %>
		<%= f.text_field :subtitle, placeholder: "Subtitulo", class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Portada %>
		<%= f.file_field :cover, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Articulo %>
		<%= f.file_field :artpdf, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Descripcion%>
		<%= f.label :Descripcion %> <i class="info-font-size">(Agrega una descripcion corta a tu articulo)</i><br />
		<%= f.text_area :body, class:"form-control", style:"height:250px;" %>
	</div>
	<div class="form-group">
		<%= f.label :Como_Citar %>
		<%= f.text_field :how_quote, class: "form-control" %>
	</div>
	<div class="form-group">
		<label for="">Categorias</label> 
		<div class="row">
			<% @categories.each do |category| %>
				<div class="col-md-3">
					<label class="checkbox-inline">
						<%= check_box_tag "categories[]", category.id %><%= category.name %>
					</label>
				</div>
			<% end -%>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit "Guardar" %>
	</div>
<% end %>
<script> $(function() { $('textarea').froalaEditor() }); </script>