<%= form_for(@article, multipart: true) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="alert alert-info">
			* <%= message %>
		</div>
	<%end%>
	<div class="form-group">
		<%= f.label :Titulo %>
		<%= f.text_field :title, placeholder: "Ingresa el Titulo de tu articulo", class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Subtitulo %>
		<%= f.text_field :subtitle, placeholder: "Subtitulo", class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Portada %>
		<%= f.file_field :cover, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Articulo %>
		<%= f.file_field :artpdf, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :Resumen %> <i class="info-font-size">(Agrega una descripcion de hasta 200 palabras a tu articulo)</i><br />
		<%= f.text_area :body, class:"form-control", style:"height:250px;" %>
	</div>
	<div class="form-group">
		<%= f.label :Como_Citar %>
		<%= f.text_field :how_quote, class: "form-control", placeholder: "Agrega aqui la información de como deben los usuarios citar este articulo" %>
	</div>
	<div class="form-group">
		<label for="">Categorias</label> 
		<div class="row">
			<ul class="checkbox-grid">
				<% @categories.each do |category| %>
							<li><%= check_box_tag "categories[]", category.id %><%= category.name %></li>
				<% end -%>
			</ul>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit "Guardar", class: "btn btn-xlarge btn-tales-one" %>
	</div>
<% end %>