<div class="home-page-posts animated fadeIn ">
	<% @articles.each do |article| %>
    <article class="post">
	    <div class="post-preview col-xs-10  no-gutter">
	      <h2><%= link_to article.title, article %></h2>
	      <p><%= article.subtitle %></p>
	      <p class="meta">
	        <%= article.user.email %> in <%= article.categories.first ? article.categories.first.name : "Sin Categorias"  %> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
	      </p>
	    </div>
	    <div class="col-xs-2  no-gutter">
	    	<% if article.user.avatar.exists? %>
	    		<%= image_tag(article.user.avatar, class: "user-icon") %>
	    	<% else %>
	    		<%= image_tag(article.user.gravatar, class: "user-icon") %>
	    	<% end %>
	    </div>
		</article>
	<% end %>
</div>
<%= will_paginate @articles %>