<div style="width: 80%;margin: o auto;">
	<h1>Crear Artículo</h1>
	<%= form_for(@article) do |f| %>
		<% @article.errors.full_messages.each do |message| %>
			<div class="be-red white top-space">
				* <%= message %>
			</div>
		<%end%>
		<div class="field">
			<%= f.text_field :title, placeholder: "Titulo", class:"form-control" %>
		</div>
		<div class="field">
			<%= f.text_area :body, placeholder: "Escribe aqui el artículo", class:"form-control", style:"height:250px;" %>
		</div>
		<div class="field">
			<%= f.submit "Guardar" %>
		</div>
	<% end %>
</div>