<div class="col-xs-12 single-content">
  <p class="meta">
    <%= link_to @article.user.profile.full_name, @article.user.profile %> in <%= link_to @article.categories.first ? @article.categories.first.name : "Sin Categorias", @article.categories.first ? @article.categories.first : @article.user.profile %> <i class="link-spacer"></i> <i class="fa fa-clock-o"></i> <%= @article.reading_time %> minute read <i class="link-spacer"></i> leído <%= @article.visits_count %> veces<i class="link-spacer"></i> <i class="fa fa-bookmark"> <%= link_to "Read Later", "/articles/#{@article.id}/read_later", method: :put %></i> <span style="float: right;"><%= link_to "Editar este Artículo", edit_article_path(@article) if @article.user == current_user %></span> 
  </p>
  <p>
  	<i class="fa fa-bookmark"><%= link_to "Read Later", "/articles/#{@article.id}/read_later", method: :put %></i>
  </p>

  <h1><%= @article.title %></h1> 

  <p class="subtitle"><%= @article.subtitle ? @article.subtitle : "" %></p>

  <%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
  <div class="panel panel-default">
  	<div class="panel-heading">Como citar este artículo</div>
	  <div class="panel-body">
	    <%= @article.how_quote %>
	  </div>
	</div>
</div><!-- main-content/col -->
<div class="col-xs-12 single-content">
	<h3>Comentarios</h3>
	<%= render "comments/form" %>
	<ul id="comments-box">
		<% @article.comments.each do |comment| %>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
			</li>
		<%end%>
	</ul>
</div>