<article class="blog-post">
    <header>
        <h1><%= @article.title %></h1>
        <div class="lead-image">
            <%= image_tag @article.cover.url, class: "article-cover" %>
            <%# <img src="./Tales - My Insightful Article_files/hands-big.png" alt="Hands" class="img-responsive"> %>
            <div class="meta clearfix">
    
                <div class="author">
                    <i class="fa fa-user"></i>
                    
                    <% if @article.user.profile.full_name? %>
                        <span class="data"> <%= link_to @article.user.profile.full_name, @article.user.profile %> </>
                    <% else %>
                        <span class="data"><%= link_to @article.user.email, @article.user.profile %></span>
                    <% end %>
                </div>
                <div class="date">
                    <i class="fa fa-calendar"></i>
                    <span class="data"><%= @article.created_at.to_date %></span>
                </div>
                <div class="comments">
                    <i class="fa fa-comments"></i>
                    <span class="data"><a href=""><%= @article.comments ? @article.comments.count : "0" %></a></span>
                </div>                                
            </div>
        </div>
    </header>
    <div class="body">
        <%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
        <div class="iframecontent">
            <iframe src="https://docs.google.com/gview?url=https:<%= @article.artpdf.url %>&embedded=true" style="width:700px; height:900px;" frameborder="0"></iframe>
        </div>
    </div>
</article>

<aside class="social-icons clearfix">
    <a href="#" class="social-icon color-one">
        <div class="inner-circle"></div>
        <i class="fab fa-twitter"></i>
    </a>

    <a href="#" class="social-icon color-two">
        <div class="inner-circle"></div>
        <i class="fab fa-google-plus-g"></i>
    </a>    

    <a href="#" class="social-icon color-three">
        <div class="inner-circle"></div>
        <i class="fab fa-facebook-f"></i>
    </a>
</aside>

<%# comments section %>

<div id="comments-box">
    <%= render "comments/comments_show" %>
</div>

<aside class="create-comment" id="create-comment">
    <hr>    

    <h2><i class="fa fa-heart"></i> Add Comment</h2>

    <%= render "comments/form" %>
</aside>