<header>
	<nav class="be-red white">
		<ul class="row center-xs midle-xs no-liststyletype">
			<li class="col-md">
				<%= link_to "Blog Historia", root_path %>
			</li>
			<li>
				<%= link_to "Atricles", articles_path %>
			</li>
			<% @categories.each do |category| %>
				<li class="col-md">
					<%= link_to category.name, category %>
				</li>
			<% end %>
			
			<% if user_signed_in? %>
				<li class="col-md">
					<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
				</li>
			<% else %>
				<li class="col-md">
					<%= link_to "Iniciar Sesión", new_user_session_path %>
				</li>
				<li class="col-md">
					<%= link_to "Crear Cuenta", new_user_registration_path %>
				</li>
			<% end %>
		</ul>
	</nav>
</header>