<div id="menu-target">
  <ul>
    <li><i class="fa fa-home"></i><%= link_to "Home", root_path, id: 'ClearActive' %></li>
    <li><i class="fa fa-users"></i><%= link_to "Equipo Editorial", profiles_path %></li>
    <li> <i class="fa fa-user"></i><%= link_to "Autores", authors_profile_path(current_user.id) %> </li>
    <li><i class="fa fa-anchor"></i><%= link_to "Quienes somos", about_path %><a href="">About</a></li>
    <li><i class="fa fa-star"></i><a href="">Favorites</a></li>
    <li><i class="fa fa-paper-plane"></i><a href="">Contact</a></li>
  </ul>
  <hr>
  <ul>
    <li><i class="fa fa-file"></i><a href="">Post Page</a></li>
    <li><i class="fa fa-file"></i><a href="">Post with Sidebar</a></li>

    <li><i class="fa fa-home"></i><a href="">Alternate Home</a></li>
    <li><i class="fa fa-image"></i><a href="">Category Page</a></li>
  </ul>
    <% if !current_user.nil? && current_user.is_admin? %>
      <hr>
      <ul>
        <li><i class="fa fa-user-o"></i><%= link_to "Admin Dashboard", dashboard_path %></li>
      </ul>
    <% end -%>
</div>
