<% @articles.publicados.each_slice(2) do |article1, article2| %>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <article class=" blog-teaser">
                <header>
                    <%# <%= article1.user.avatar.exists? ? image_tag(article1.user.avatar, class: "") : image_tag(article1.user.gravatar, class: "") %>
                    <%# <img src="./Tales - Blog_files/cat.png" alt="A Cat"> %>
                    <h3><%= link_to article1.title, article1 %></h3>
                    <span class="meta"><%= article1.subtitle%></span>
                    <hr>
                </header>
                <div class="body">
                    <%= article1.body %>
                </div>
                <div class="clearfix">
                    <%# <a href="" class="btn btn-tales-one">Read more</a> %>
                    <%= link_to "Leer mas...", article1, class: "btn btn-tales-one" %>
                </div>
            </article>
        </div>
        <div class="col-md-6 col-sm-6">
            <article class="blog-teaser">
                <header>
                    <%# <%= image_tag(article2.cover.url) %>
                    <h3><%= link_to article2.title, article2 %></h3>
                    <span class="meta"><%= article2.subtitle %></span>
                    <hr>
                </header>
                <div class="body">
                    Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta. 
                </div>
                <div class="clearfix">
                    <%= link_to "Leer mas...", article2, class: "btn btn-tales-one" %>
                </div>
            </article>
        </div>
    </div>
<% end %>