<!DOCTYPE html>
<html class="js svg jPanelMenu">
  <head>
    <title>NHD</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
		<%# <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet"> %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CPT+Serif:400,400italic" rel="stylesheet" type="text/css">

    <!-- Google Analytics script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98875330-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body data-menu-position="closed">
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="#" id="logo">
                    Nueva Historia del Derecho 
                    <span class="copete_logo">
                        <p>Ateneo de Historia Critica del Derecho, </p>
                        <p>Historia Social de la Justicia y</p> 
                        <p>Antropología Histórica.</p>
                    </span>
                    <!--Use the following line instead if you want to use an image logo-->
                    <!--<img src="img/tales-logo.png" alt="Tales Blog">-->
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right tales-nav">
                    <%= render "partials/main_menu"%>
                </nav>        

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="tales-breadcrumb">
                    <%= link_to "Home", root_path %>
                </div>

                <div class="tales-searchbox">
                    <%= form_tag(articles_search_path, :method => "get", id: "search-form") do %>
                        <%= button_tag(type:"submit", class:"searchbutton") do %>
                            <i class="fa fa-search"></i>
                        <% end %>
                        <%= text_field_tag :query, params[:query], placeholder: "Search", class: "searchfield", id:"searchbox", name:"query" %>
                    <% end %>
                </div>
            </div>
        </div>
    </header>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <%= yield %>
            </div>
        </div>
    </div>
    <footer>
      <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    <h3> <i class="fab fa-wpforms"></i>  Estadísticas</h3>

                    <span>Muchas veces nosotros tambien perdemos la cantidad de artículo que tenemos aqui. Esto ayuda:</span>

                    <div class="stats">
                        <div class="line">
                            <span class="counter"> <%= Article.count %> </span>
                            <span class="caption">Artículos</span>
                        </div>
                        <div class="line">
                            <span class="counter"> <%= Comment.count %> </span>
                            <span class="caption">Comentarios</span>
                        </div>
                        <div class="line">
                            <span class="counter"> <%= Profile.count %> </span>
                            <span class="caption"> <%= if Profile.count > 1
                                "Autores"
                            else
                                "Autor"
                            end %> </span>
                        </div>                    
                    </div>
                </div>
                <div class="col-md-4 footer-widget">
                    <h3> <i class="fas fa-trophy"></i> Salon de la Fama </h3>
                    <ul class="tales-list">
                        <% @most_popular.each do |article| %>
                            <li> <%= link_to article.title, article %> </li>
                        <% end %>
                    </ul>
                </div>
                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-envelope"></i>Contactanos</h3>

                    <span>Puedes escribirnos con tus dudas, inquietudes o recomendaciones. Estamos ansiosos de poder conocerte!</span>
                    
                    <span class="email">
                        <a href="#">nhd@infonhd.com</a>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <div class="widewrapper copyright">
        <div class="container">
            <!--Note: Feel free to remove or change this link as you please. A link to HackerThemes is not required by any means-->
            Designed by <a href="#" rel="nofollow">NHD_Design</a>
        </div>
      </div>
    </footer>

  </body>
</html>
